# Core functionality - changes here should be rare!
/src/app.py                   @mukeshSubramani
/src/backend/database.py      @mukeshSubramani
/src/backend/routers/auth.py  @mukeshSubramani

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mukeshSubramani
